
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  /* Style for our header texts
  * --------------------------------------- */
  h1{
    font-size: 4em;
    color: #fff;
    margin:0;
    padding:0;
    font-weight: 300;
    z-index: 10;
  }

  /* Centered texts in each section
  * --------------------------------------- */
  #section1{
    text-align:center;
  }

  #myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    background: url(imgs/flowers.jpg) no-repeat; /* img bg for mobile */

  }



  /* Layer with position absolute in order to have it over the video
  * --------------------------------------- */
  #section2 .layer{
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 30%;
    height: 100%;
  }



  /* Bottom menu
  * --------------------------------------- */
  #infoMenu li a {
    color: #fff;
  }









* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

a, a:hover, a:active, a:focus {
  outline: none;
}

.main-header {
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  z-index: 20;
}
.main-header a {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 32px;
  z-index: 22;
  
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
  z-index: 20;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #b0c736;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 20;
}
.main-nav a {
  display: block;
  background: #b0c736;
  border-bottom: 1px solid #bfd54c;
  color: white;
  padding: 15px 70px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 30px;
}
.main-nav a:hover, .main-nav a:focus {
  background: #a0b91b;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 30px;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
}

.content {
  padding: 100px 20px 20px 20px;
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 25%;
}

#main-nav:target + .page-wrap {
  width: 75%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 75%;
  left: 25%;
}




.main-nav .logo {
  font-weight: 100;
  font-size: 3em;
}


.main-nav .logo  {
  padding: 25px;
  height: 130px;
}

#nav_about {
  background-image: url("../img/about.png");
}

#nav_portfolio {
  background-image: url("../img/portfolio.png");
}

#nav_contact {
  background-image: url("../img/gmail.png");
}

#nav_blog {
  background-image: url("../img/blog.png");
}


#section0 {
  text-align: left;
  margin: 0 10%;
}

.text1 {
  font-size: 80px;
  font-weight: 500;
}
.text2 {
  font-weight: 300;
}
.text3 {
  color: #b0c736;
}
.text4 {
  font-size:1.3em;
}
.text5 {
  font-size: 0.9em;
}
.text6 {
  color: #b0c736;
  font-weight: 400;
}

#slide1 {
  background-image: url(../img/Layer.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% auto;

}

@media all and (max-width: 900px) {
#slide1 {
  background-image: url(../img/Layer_min.jpg);

}
}

#slide3 {
  background-image: url(../img/karlikow.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
}

#slide4 {
  background-image: url(../img/ss24.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
}

#slide6 {
  background-image: url(../img/nowbruk.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
}

.button_round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #b0c736;
  box-shadow: 1px 2px 2px 0.00px rgba(0, 0, 0, 0.55);
  width: 71px;
  height: 71px;
  margin: 0 auto;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  padding-top: 18px;
  margin-top: 20px;
  display: block;
}

#section1 {

}


#section1 h1 {
  color: #2b2e34;
  font-size: 58px;
  font-weight: 400;
}

#section1 p {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

#section2 {
  text-align: left;
  color: #fff;
  font-size: 20px;
  line-height: 30.963px;
}

#section2 h2 {
  color: #fff;  
  font-weight: 500;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.photo {
  width: 102px;
  float: left;
}

.contact_content {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

.contact_content a {
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  background-repeat: no-repeat;
  padding-left: 50px;
  height: 30px;
}

.contact_content a:hover {
  color: #b0c736;
  font-weight: 500;
  font-style: 
}

#c_phone {
  background-image: url("../img/phone.png");
  background-position: 0 2px;
}

#c_mail {
  background-image: url("../img/gmail.png");
  background-position: 0 5px;
}

#c_github {
  background-image: url("../img/github.png");
  background-position: 0 3px;
}

#c_twitter {
  background-image: url("../img/twitter.png");
  background-position: 0 3px;
}

#c_in {
  background-image: url("../img/linkedin.png");
  background-position: 0 3px;
}

#c_cv {
  background-image: url("../img/cv.png");
  background-position: 0 3px;
}

