
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700,800);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

/* Custom CSS
 * --------------------------------------- */


h1{
  font-size: 6em; 
}
p{
  font-size: 2em;
  color: #444;
}
.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.section{
  text-align:center;
}



  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-height: 100%;
  }

  * {
  box-sizing: border-box;
  }


  a, a:hover, a:active, a:focus {
    outline: none;
      text-decoration: none;
  }

  /* Style for our header texts
  * --------------------------------------- */
  h1{
    font-size: 4em;
    color: #fff;
    margin:0;
    padding:0;
    font-weight: 300;
    z-index: 10;
  }

  /* Centered texts in each section
  * --------------------------------------- */
  #section1{
    text-align:center;
  }

    /* Backgrounds will cover all the section
  * --------------------------------------- */
  #section1,
  #section2 {
    background-size: cover;
    background-attachment: fixed;
  }

  #section0 {
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-position: right bottom; 
  }

  #myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    background: url(../img/bg_contact.jpg) no-repeat; /* img bg for mobile */
  }

  /* Layer with position absolute in order to have it over the video
  * --------------------------------------- */
  #section2 .layer{
    position: absolute;
    z-index: 50;
    width: 100%;
    left: 0;
    top: 30%;
    height: 100%;
  }


.menu-wrap {
  padding-top: 90px;
}

.icon-list a {
  display: block;
  background: #b0c736;
  border-bottom: 1px solid #bfd54c;
  color: white;
  padding: 15px 70px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 30px;
}

.icon-list i {
  padding: 0 15px;
}

.icon-list a:hover, .icon-list a:focus {
  background: #a0b91b;
}

.icon-list .logo {
  font-weight: 100;
  font-size: 2em;
}

#section0 {
  text-align: left;
  margin-left: 10%;
}

.text1 {
  font-size: 80px;
  font-weight: 500;
}
.text2 {
  font-weight: 300;
}
.text3 {
  color: #b0c736;
}
.text4 {
  font-size:1.3em;
}
.text5 {
  font-size: 0.9em;
}
.text6 {
  color: #b0c736;
  font-weight: 400;
}

#slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #slide7 {
  background-repeat: no-repeat;
  background-size: cover;
}

#slide1 {
  background-image: url(../img/Layer.jpg);
}

#slide2 {
  background-image: url(../img/nordictouch.jpg);
}

#slide3 {
  background-image: url(../img/karlikow.jpg);
}

#slide4 {
  background-image: url(../img/ss24.jpg);
}

#slide6 {
  background-image: url(../img/nowbruk.jpg);
}

#slide7 {
  background-image: url(../img/nlink.jpg);
}

.button_round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #b0c736;
  box-shadow: 1px 2px 2px 0.00px rgba(0, 0, 0, 0.55);
  width: 71px;
  height: 71px;
  margin: 0 auto;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  padding-top: 18px;
  margin-top: 20px;
  display: block;
}

#section1 h1 {
  color: #2b2e34;
  font-size: 58px;
  font-weight: 400;
}

#section1 p {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

#section2 {
  text-align: left;
  color: #fff;
  font-size: 20px;
  line-height: 30.963px;
}

#section2 h2 {
  color: #fff;  
  font-weight: 500;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.photo {
  width: 102px;
  margin: 0 auto;
}

.contact_content {
  margin-top: 10px;
}

.contact_content a {
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  background-repeat: no-repeat;
  padding-left: 20px;
  height: 30px;
}

.contact_content h2 {
  margin-bottom: 10px;
}

.opacity {
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}